@using plt.Models.ViewModel
@model RegisterViewModel
@{
    ViewData["Title"] = "Регистрация";
}
<div class="register-container">
    <form asp-action="Register" method="post" class="form-card">
        <h2 class="form-title">Регистрация</h2>

        <div class="form-group">
            <label asp-for="Name">Имя</label>
            <input asp-for="Name" class="form-control" required />
        </div>

        <div class="form-group">
            <label asp-for="LastName">Фамилия</label>
            <input asp-for="LastName" class="form-control" required />
        </div>

        <div class="form-group">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" class="form-control" type="email" required />
        </div>

        <div class="form-group">
            <label asp-for="Password">Пароль</label>
            <input asp-for="Password" class="form-control" type="password" required />
        </div>


        <div class="form-group">
            <button type="submit" class="btn-register">Зарегистрироваться</button>
        </div>
    </form>
</div>
